from hyperopt import hp
import sklearn, xgboost, catboost


METRIC_DIRECTION = {
    "accuracy": "max",
    "precision": "max",
    "recall": "max",
    "roc_auc": "max",
    "r2": "max",
    "mae": "min",
    "mse": "min",
    "mape": "min",
    "rmse": "min",
}


config = {
    "model_type": "{{ model_type }}",  # classification | regression

    "model_params": {
        "redu_col": [],
        "target": [],
        "cat_cols": [],
        "onehot_cols": [],
        "acceptance_criteria": 0.80,
        "cluster_size": 4,
        "seed": 42,
        "test_ratio": 0.3,
        "time_data": {"time_split": False},

        {% if model_type == "classification" %}
        "selection_metric": "roc_auc",
        "selection_mode": "maximize",
        {% else %}
        "selection_metric": "rmse",
        "selection_mode": "minimize",
        {% endif %}

        "scaler": "standard"
    },

    "models": {

        "model1": {
            "name": "RandomForest",

            {% if model_type == "classification" %}
            "model": "sklearn.ensemble.RandomForestClassifier()",
            {% else %}
            "model": "sklearn.ensemble.RandomForestRegressor()",
            {% endif %}

            "tuning_param": {
                "max_iter": 10,
                "k_inner": 3,
                "k_outer": 5,
                "seed": 123
            },

            "hyperparameters": {
                "max_features": hp.choice("max_features", ["log2", "sqrt"]),
                "max_depth": hp.choice("max_depth", [10, 25, 50, 100]),
                "min_samples_split": hp.choice("min_samples_split", [2, 5, 8, 10]),
                "min_samples_leaf": hp.choice("min_samples_leaf", [1, 2, 4, 7]),
                "bootstrap": hp.choice("bootstrap", [True, False]),
                "random_state": hp.choice("random_state", [42]),
            },
        },

        "model2": {
            "name": "XGBoost",

            {% if model_type == "classification" %}
            "model": "xgboost.XGBClassifier()",
            {% else %}
            "model": "xgboost.XGBRegressor()",
            {% endif %}

            "tuning_param": {
                "max_iter": 10,
                "k_inner": 3,
                "k_outer": 5,
                "seed": 123
            },

            "hyperparameters": {
                "max_depth": hp.choice("max_depth", [3, 5, 6, 10, 15, 20]),
                "learning_rate": hp.choice("learning_rate", [0.01, 0.1, 0.2, 0.3]),
                "subsample": hp.uniform("subsample", 0.5, 1.0),
                "n_estimators": hp.choice("n_estimators", [50, 100]),
                "random_state": hp.choice("random_state", [42]),
            },
        },

        "model3": {
            "name": "CatBoost",

            {% if model_type == "classification" %}
            "model": "catboost.CatBoostClassifier()",
            {% else %}
            "model": "catboost.CatBoostRegressor()",
            {% endif %}

            "tuning_param": {
                "max_iter": 10,
                "k_inner": 3,
                "k_outer": 5,
                "seed": 123
            },

            "hyperparameters": {
                "depth": hp.choice("depth", [6, 8, 10]),
                "learning_rate": hp.choice("learning_rate", [0.01, 0.05, 0.1]),
                "iterations": hp.choice("iterations", [50, 100]),
                "verbose": hp.choice("verbose", [False]),
                "allow_writing_files": hp.choice("allow_files", [False]),
                "random_state": hp.choice("random_state", [42]),
            },
        },
    },
}