from abc import ABC, abstractmethod
from typing import Any, Dict, Optional
import pandas as pd



class BasePreprocessor(ABC):
    """
    Base class for all data pre-processors.

    Extension points:
    - load()
    - validate()
    - transform()

    DO NOT override:
    - run()
    """
    dataset_name: str = "unknown"
    version: str = "v1"

    def __init__(self, *, config: Optional[Dict[str, Any]] = None, **kwargs):
        """"
        Initialize the BasePreprocessor with configuration and runtime arguments.
        Args:
            config (Optional[Dict[str, Any]]): Configuration dictionary. Defaults to None.
            **kwargs: Arbitrary keyword arguments for runtime parameters.
        """
        self.config = config or {}
        self.runtime_args = kwargs

    @abstractmethod
    def load(self) -> Any:
        """Load raw data (file, table, API, etc.)."""
        raise NotImplementedError

    @abstractmethod
    def validate(self, data: Any) -> None:
        """Validate raw input."""
        raise NotImplementedError

    @abstractmethod
    def transform(self, data: Any) -> pd.DataFrame:
        """Transform raw input into model-ready dataframe."""
        raise NotImplementedError

    def rename_columns(self, df: pd.DataFrame) -> pd.DataFrame:
        """Rename columns of the dataframe."""
        return df

    def coerce_types(self, df: pd.DataFrame) -> pd.DataFrame:
        """Coerce the column types of the dataframe."""
        return df

    def select_columns(self, df: pd.DataFrame) -> pd.DataFrame:
        """Select only those columns which are necessary."""
        return df

    def add_static_defaults(self, df: pd.DataFrame) -> pd.DataFrame:
        return df

    def post_transform_hook(self, df: pd.DataFrame) -> pd.DataFrame:
        return df

    def describe(self) -> Dict[str, Any]:
        """Describe the data and columns"""
        return {}
    
    def run(self) -> pd.DataFrame:
        """Template method — do not override."""
        raw = self.load()
        self.validate(raw)

        df = self.transform(raw)
        df = self.rename_columns(df)
        df = self.coerce_types(df)
        df = self.add_static_defaults(df)
        df = self.select_columns(df)
        df = self.post_transform_hook(df)

        self._validate_output(df)
        return df
    
    def _validate_output(self, df: pd.DataFrame) -> None:
        if df.empty:
            raise ValueError("Pre-processed DataFrame is empty")
