import pandas as pd
from .transformers.imputer import SimpleImputer
from .transformers.onehot import OneHot
from ..config.hyper_config import config


class DataFeatures:
    """Feature engineering and transformation class."""
    
    def __init__(self):
        """
        Initialize DataFeatures with imputer and one-hot encoder.
        """
        self.imputer = SimpleImputer(cat_cols=config["model_params"]["cat_cols"])
        self.encoder = OneHot(cols=config["model_params"]["onehot_cols"])

    def _engineer(self, df: pd.DataFrame) -> pd.DataFrame:
        """
        Feature engineering logic.
        Args:
            df (pd.DataFrame): Input dataframe to engineer features.
        Returns:
            pd.DataFrame: Dataframe with engineered features.
        """
        return df

    def fit(self, df: pd.DataFrame) -> pd.DataFrame:
        df = self.imputer.fit_transform(df)
        df = self._engineer(df)
        df = self.encoder.fit_transform(df)
        return df

    def transform(self, df: pd.DataFrame) -> pd.DataFrame:
        df = self.imputer.transform(df)
        df = self._engineer(df)
        df = self.encoder.transform(df)
        return df
