import pandas as pd

from .base import BaseTransformer


class SimpleImputer(BaseTransformer):
    """
    Simple Imputer to fill missing values in the dataframe.
    
    Args:
        cat_cols (list): List of categorical columns.
    """
    def __init__(self, cat_cols: list):
        self.cat_cols = cat_cols or []
        self.impute_dict = {} 

    def fit(self, df: pd.DataFrame)-> SimpleImputer:
        """
        Fit the imputer to the data by calculating mean for numerical columns
        and mode for categorical columns.
        Args:
            df (pd.DataFrame): Input dataframe to fit the imputer.
        Returns:
            self: Fitted imputer instance.
        """
        
        for c in df.columns:
            if c in self.cat_cols or df[c].dtype == "object":
                self.impute_dict[c] = df[c].value_counts().index[0]
            else:
                self.impute_dict[c] = df[c].mean()
        return self

    def transform(self, df: pd.DataFrame) -> pd.DataFrame:
        """
        Transform the data by filling missing values using the fitted impute_dict.
        Args:
            df (pd.DataFrame): Input dataframe to be transformed.
        Returns:
            pd.DataFrame: Transformed dataframe with missing values filled.
        """
        df = df.copy()
        for c, val in self.impute_dict.items():
            df[c] = df[c].fillna(val)
        return df
