[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "{{ project }}"
version = "1.0.0"
description = "Data science package for seamless MLOps integration"
readme = "README.md"
requires-python = ">=3.10"

authors = [
    { name = "datascience.team@blackstraw.ai" }
]

dependencies = [
    "setuptools",
    "loguru>=0.7.2",
    "pyyaml==6.0.2",
    "toml==0.10.2",
    "jinja2==3.1.6",
    "python_benedict==0.34.1",
    "pandas==2.3.0",
    "numpy>=1.26,<2.1",
    "scikit-learn>=1.5.0,<1.6",
    "scipy>=1.13,<1.14",
    "pydantic>=2.8,<3.0",
    "joblib>=1.4.2",
    "hyperopt>=0.2.7",
    "xgboost>=3.1.2",
    "catboost>=1.2.8",
    "ds-cli @ git+https://github.com/mohammedsameeruddin-blk/datascience_template.git@feature/cli_support"
]

[project.urls]
Homepage = "https://blackstraw.ai/"

[tool.setuptools]
package-dir = { "" = "src" }
include-package-data = true

[tool.setuptools.packages.find]
where = ["src"]

[dependency-groups]
dev = [
    "pytest>=9.0.1",
    "pytest-mock==3.14.1",
    "ruff>=0.14.7",
    "black>=24.4",
    "ipykernel>=6.29",
    "notebook>=7.5.0",
]

spark = [
    "pyspark==3.5.3",
    "delta-spark==3.2.1",
]

viz = [
    "matplotlib>=3.9,<3.10",
    "seaborn>=0.13,<0.14",
]
